@import '../styles/colors';
.main-tab-about{
    display:flex;
    justify-content: center;
    text-align:center;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    color: $brown;
    .content{
        max-width: 75vw;
        
        h1{
            font-size:60px;
        }
        p{
            font-size: 30px;
            font-weight: bold;
        }
    }
}

.italic {
    font-style: italic;
  }